.border{
  border: 1px solid black;
}

.mainContainer{
  height: 600px;
  padding-bottom: 0;
}

.character{
  height: 66%;
  margin-top:7%;
  margin-right: 6%;
}

.characterImage{
  height: 60%;
  margin: auto;
  margin-top: 2%;
}
.attackPowerContainer{
  height: 100%;
  text-align: center;
}
.counterAttackPowerContainer{
  height: 100%;
}

#attackText{
  font-size: 16px;
}

.progress-bar{
  width: 100%;
}

#instructionsRow{
  height: 20%;
}

#selectHeaderRow{
  height: 10%;
}

#selectRowContent{
  height: 70%;
}

#fightScreen{
  height: 70%;
  background-color: grey;
  position: relative;
  display: none;
}

.attackInfoContainer{
  height: 24%;
}

.backgroundWhite{
  background-color: white;
}

#characterPic{
  position: absolute;
  top: 16%;
  left: 5%;
}

#characterStats{
  position: absolute;
  top: 19%;
  left: 17%;
  overflow: hidden;
}
#messageRow{
  position: relative;
}

#confirmButton{
  position: absolute;
  top:26%;
  left:45%;
  width: 10%;
  display: none;
}

.invisible{
  display: none;
}

#messageContainer{
  height: 62%;
  width: 31%;
  position: absolute;
  top: 19%;
  left: 34%;
}

#enemyPic{
  position: absolute;
  bottom: 16%;
  right:5%;
}

#enemyStats{
  position: absolute;
  bottom: 19%;
  right: 17%;
  overflow: hidden;
}

#playerCharacterPic{
  height: 95%;
  width: 95%;
}
#selectedEnemyPic{
  height: 95%;
  width: 95%;
}
#characterHealthContainer{
  position: relative;
}

#characterNametag{
  text-align: center;
  font-size: 20px;
}

#enemyNametag{
  text-align: center;
  font-size: 20px;
}

#characterHealthBar{
  width: 100%;
  bottom: 0;
}

.pic{
  height: 43%;
  width: 11%;
}

.stats{
  height: 17%;
  width: 15%;
  position: relative;
}

#attackButton{
  float: left
}

#runAwayButton{
  float: right;
}

#messages{
  height:78%;
  margin-top: 2%;
}
